body {
    background-color: #9e5603;
    color: #fff;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
  }
  
  canvas {
    border: 4px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
  }
  
  .btns{
    display: none;
  }
  
  .messages {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    max-width: 460px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
   
  }
  
  .messages p {
    display: block;
    margin: 0;
    width: 100%;
  }
  .presentacion{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ff6600;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .presentacion button{
    height: 100px;
    width: 300px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #ff6600;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
.REINICIAR{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
#btn__reiniciar{
  margin: auto;
  width: 30%;
  height: 80px;
  border-radius: 20px;
  border: none;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  background-color: #ff0000;
  cursor: pointer;
}

.despejar{
  display: none;
}



  @media (max-width: 440px) {
    .btns button {
      margin: 10px;
      height: 50px;
      border-radius: 20px;
     }
    #up, #down { margin-left: 100%; margin-right: 100%; }
    .btns{
      margin-bottom: 200px;
    }
    
    .btns {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 100%;
    }
  
   .btns button {
      background-color: #fdef05;
      border-radius: 8px;
      border-color: #ff6600;
      font-family: inherit;
      margin: 0;
      padding: 5px 20px;
      width: 100px;
    }
    .btns button:not(:last-child) {
      margin-right: 10px;
    }
  }